<VirtualHost *:80>
    ServerName {{ dnsname }}
    ServerAlias {{ dnsname }}
    DocumentRoot /opt/mysite/website
    ErrorLog /opt/mysite/log/error.log
    CustomLog /opt/mysite/log/requests.log combined
</VirtualHost>
